<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--connection ke database-->
        <property name="connection.url">jdbc:postgresql://localhost:5432/bootcamp</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">bootcamp</property>
        <property name="connection.password">bootcamp</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>
        <property name="show_sql">true</property>

        <!--mapping class entity-->
        <mapping class="com.dimas.maryanto.model.Mahasiswa"/>
    </session-factory>
</hibernate-configuration>